## Project Milestone 3
### Darin Young

In [54]:
import pandas as pd

df = pd.read_html('https://www.baseball-reference.com/teams/')[0]

df.head()

,Rk,Franchise,From,To,G,W,L,W-L%,G>.500,Divs,...,Playoffs,Players,HOF#,R,AB,H,HR,BA,RA,ERA
0,NaN,"Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels",...,"Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels","Anaheim Angels, see Los Angeles Angels"
1,1.0,Arizona Diamondbacks,1998,2024,4272,2087,2185,.489,-98,5,...,7,616,2,19505,145771,37144,4545,.255,19790,4.28
2,2.0,Atlanta Braves,1876,2024,22217,11114,10949,.504,165,23,...,29,2126,54,99325,760684,197587,15005,.260,97812,3.67
3,NaN,"Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...",...,"Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves...","Also played as Milwaukee Braves, Boston Braves..."
4,3.0,Baltimore Orioles,1901,2024,19314,9120,10084,.475,-964,10,...,15,1986,34,83421,656108,169350,14379,.258,88800,4.05

## Transformation 1: Removing unneeded rows

As shown above, there are multiple rows in this dataset that are unneeded. The rows that relate to "also known as" or "also played as" exist in the table but do not contain any relevant datapoints about the team. To handle this, we will remove all rows that contain "NaN" in the "Rk" column.

In [56]:
df = df.dropna(subset=['Rk'])
df.head(10)

,Rk,Franchise,From,To,G,W,L,W-L%,G>.500,Divs,...,Playoffs,Players,HOF#,R,AB,H,HR,BA,RA,ERA
1,1.0,Arizona Diamondbacks,1998,2024,4272,2087,2185,.489,-98,5,...,7,616,2,19505,145771,37144,4545,.255,19790,4.28
2,2.0,Atlanta Braves,1876,2024,22217,11114,10949,.504,165,23,...,29,2126,54,99325,760684,197587,15005,.260,97812,3.67
4,3.0,Baltimore Orioles,1901,2024,19314,9120,10084,.475,-964,10,...,15,1986,34,83421,656108,169350,14379,.258,88800,4.05
7,4.0,Boston Red Sox,1901,2024,19301,9955,9263,.518,692,10,...,25,1948,39,90141,660579,176293,14543,.267,86558,3.92
11,5.0,Chicago Cubs,1876,2024,22255,11327,10767,.513,560,8,...,21,2248,46,102430,761571,199459,15184,.262,98905,3.70
13,6.0,Chicago White Sox,1901,2024,19309,9594,9612,.500,-18,6,...,11,1906,34,83922,653904,169840,12249,.260,84018,3.80
14,7.0,Cincinnati Reds,1882,2024,21839,10934,10766,.504,168,10,...,16,2169,37,97999,744143,193909,14272,.261,97263,3.77
16,8.0,Cleveland Guardians,1901,2024,19312,9852,9369,.513,483,11,...,16,2006,35,87331,658293,174307,13867,.265,85093,3.83
18,9.0,Colorado Rockies,1993,2024,5020,2321,2699,.462,-378,0,...,5,675,2,24911,172470,46676,5686,.271,26659,5.02
19,10.0,Detroit Tigers,1901,2024,19336,9676,9567,.503,109,7,...,16,1807,24,88762,659426,174230,14520,.264,88536,4.00

## Transformation 2: Adding short name column

This dataset does not include values for the teams "short names" or their abbreviations. To remedy this, I'll create a dictionary to reference and then map each value to it's "franchise" value to its associated short name. This will help to join datasets later on via the short name column.

In [58]:
mlb_teams = {
    'Arizona Diamondbacks': 'ARI',
    'Atlanta Braves': 'ATL',
    'Baltimore Orioles': 'BAL',
    'Boston Red Sox': 'BOS',
    'Chicago Cubs': 'CHC',
    'Chicago White Sox': 'CWS',
    'Cincinnati Reds': 'CIN',
    'Cleveland Guardians': 'CLE',
    'Colorado Rockies': 'COL',
    'Detroit Tigers': 'DET',
    'Houston Astros': 'HOU',
    'Kansas City Royals': 'KC',
    'Los Angeles Angels': 'LAA',
    'Los Angeles Dodgers': 'LAD',
    'Miami Marlins': 'MIA',
    'Milwaukee Brewers': 'MIL',
    'Minnesota Twins': 'MIN',
    'New York Mets': 'NYM',
    'New York Yankees': 'NYY',
    'Oakland Athletics': 'OAK',
    'Philadelphia Phillies': 'PHI',
    'Pittsburgh Pirates': 'PIT',
    'San Diego Padres': 'SD',
    'Seattle Mariners': 'SEA',
    'San Francisco Giants': 'SF',
    'St. Louis Cardinals': 'STL',
    'Tampa Bay Rays': 'TB',
    'Texas Rangers': 'TEX',
    'Toronto Blue Jays': 'TOR',
    'Washington Nationals': 'WSH'
}

df['Short Name'] = df['Franchise'].map(mlb_teams)

df.head()

,Rk,Franchise,From,To,G,W,L,W-L%,G>.500,Divs,...,Players,HOF#,R,AB,H,HR,BA,RA,ERA,Short Name
1,1.0,Arizona Diamondbacks,1998,2024,4272,2087,2185,.489,-98,5,...,616,2,19505,145771,37144,4545,.255,19790,4.28,ARI
2,2.0,Atlanta Braves,1876,2024,22217,11114,10949,.504,165,23,...,2126,54,99325,760684,197587,15005,.260,97812,3.67,ATL
4,3.0,Baltimore Orioles,1901,2024,19314,9120,10084,.475,-964,10,...,1986,34,83421,656108,169350,14379,.258,88800,4.05,BAL
7,4.0,Boston Red Sox,1901,2024,19301,9955,9263,.518,692,10,...,1948,39,90141,660579,176293,14543,.267,86558,3.92,BOS
11,5.0,Chicago Cubs,1876,2024,22255,11327,10767,.513,560,8,...,2248,46,102430,761571,199459,15184,.262,98905,3.70,CHC

## Transformation 3: Renaming columns

Some of the columns in the dataset are not totally clear as to their meaning. So, I'm renaming them to ensure clarity during the final analysis.

In [70]:
df = df.rename(
    columns={
    'Pnnts': 'Pennants',
    'Divs': 'Division Titles',
    'Franchise': 'Team Name',
    'W': 'Wins',
    'L': 'Losses',
    'G': 'Games Played',
    'R': 'Runs Scored',
    'AB': 'At Bats',
    'H': 'Hits',
    'BA': 'Batting Average',
    'RA': 'Runs Allowed'
    }
)

df.head()

,Rk,Team Name,From,To,Games Played,Wins,Losses,W-L%,G>.500,Division Titles,...,Players,HOF#,Runs Scored,At Bats,Hits,HR,Batting Average,Runs Allowed,ERA,Short Name
1,1.0,Arizona Diamondbacks,1998,2024,4272,2087,2185,.489,-98,5,...,616,2,19505,145771,37144,4545,.255,19790,4.28,ARI
2,2.0,Atlanta Braves,1876,2024,22217,11114,10949,.504,165,23,...,2126,54,99325,760684,197587,15005,.260,97812,3.67,ATL
4,3.0,Baltimore Orioles,1901,2024,19314,9120,10084,.475,-964,10,...,1986,34,83421,656108,169350,14379,.258,88800,4.05,BAL
7,4.0,Boston Red Sox,1901,2024,19301,9955,9263,.518,692,10,...,1948,39,90141,660579,176293,14543,.267,86558,3.92,BOS
11,5.0,Chicago Cubs,1876,2024,22255,11327,10767,.513,560,8,...,2248,46,102430,761571,199459,15184,.262,98905,3.70,CHC

## Transformation 4: Creating Years as a Team column

I want to create some columns that are based on how long the team has existed (for example, runs allowed per year, hits per year, runs scored per year, etc.) To do this, I first need to create a column that contains how many years the team has existed. As of now, the "from" and "to" columns, are stored as text, so they must be converted to integers using the .to_numeric function. Then the column can be created using simple math. This is shown below.

In [76]:
df['From'] = pd.to_numeric(df['From'])
df['To'] = pd.to_numeric(df['To'])

df['Years as a team'] = df['To'] - df['From']

df.head()

,Rk,Team Name,From,To,Games Played,Wins,Losses,W-L%,G>.500,Division Titles,...,HOF#,Runs Scored,At Bats,Hits,HR,Batting Average,Runs Allowed,ERA,Short Name,Years as a team
1,1.0,Arizona Diamondbacks,1998,2024,4272,2087,2185,.489,-98,5,...,2,19505,145771,37144,4545,.255,19790,4.28,ARI,26
2,2.0,Atlanta Braves,1876,2024,22217,11114,10949,.504,165,23,...,54,99325,760684,197587,15005,.260,97812,3.67,ATL,148
4,3.0,Baltimore Orioles,1901,2024,19314,9120,10084,.475,-964,10,...,34,83421,656108,169350,14379,.258,88800,4.05,BAL,123
7,4.0,Boston Red Sox,1901,2024,19301,9955,9263,.518,692,10,...,39,90141,660579,176293,14543,.267,86558,3.92,BOS,123
11,5.0,Chicago Cubs,1876,2024,22255,11327,10767,.513,560,8,...,46,102430,761571,199459,15184,.262,98905,3.70,CHC,148

## Transformation 5: Creating "Per Year" columns

Now that we know how many years each team has existed, we can create the aforementioned "per year" columns. This will allow us to compare how effective/ineffective a team has been over team while taking into account that some teams have existed for much longer than others.

In [93]:
df['Years as a team'] = pd.to_numeric(df['Years as a team'])
df['Runs Scored'] = pd.to_numeric(df['Runs Scored'])
df['Runs Allowed'] = pd.to_numeric(df['Runs Allowed'])
df['HR'] = pd.to_numeric(df['HR'])
df['Hits'] = pd.to_numeric(df['Hits'])

df['Runs Scored Per Year'] = df['Runs Scored'] / df['Years as a team']
df['Runs Allowed Per Year'] = df['Runs Allowed'] / df['Years as a team']
df['Home Runs Per Year'] = df['HR'] / df['Years as a team']
df['Hits Per Year'] = df['Hits'] / df['Years as a team']

df.head(50)

,Rk,Team Name,From,To,Games Played,Wins,Losses,W-L%,G>.500,Division Titles,...,HR,Batting Average,Runs Allowed,ERA,Short Name,Years as a team,Runs Scored Per Year,Hits Per Year,Runs Allowed Per Year,Home Runs Per Year
1,1.0,Arizona Diamondbacks,1998,2024,4272,2087,2185,.489,-98,5,...,4545,.255,19790,4.28,ARI,26,750.192308,1428.615385,761.153846,174.807692
2,2.0,Atlanta Braves,1876,2024,22217,11114,10949,.504,165,23,...,15005,.260,97812,3.67,ATL,148,671.114865,1335.047297,660.891892,101.385135
4,3.0,Baltimore Orioles,1901,2024,19314,9120,10084,.475,-964,10,...,14379,.258,88800,4.05,BAL,123,678.219512,1376.829268,721.951220,116.902439
7,4.0,Boston Red Sox,1901,2024,19301,9955,9263,.518,692,10,...,14543,.267,86558,3.92,BOS,123,732.853659,1433.276423,703.723577,118.235772
11,5.0,Chicago Cubs,1876,2024,22255,11327,10767,.513,560,8,...,15184,.262,98905,3.70,CHC,148,692.094595,1347.695946,668.277027,102.594595
13,6.0,Chicago White Sox,1901,2024,19309,9594,9612,.500,-18,6,...,12249,.260,84018,3.80,CWS,123,682.292683,1380.813008,683.073171,99.585366
14,7.0,Cincinnati Reds,1882,2024,21839,10934,10766,.504,168,10,...,14272,.261,97263,3.77,CIN,142,690.133803,1365.556338,684.950704,100.507042
16,8.0,Cleveland Guardians,1901,2024,19312,9852,9369,.513,483,11,...,13867,.265,85093,3.83,CLE,123,710.008130,1417.130081,691.813008,112.739837
18,9.0,Colorado Rockies,1993,2024,5020,2321,2699,.462,-378,0,...,5686,.271,26659,5.02,COL,31,803.580645,1505.677419,859.967742,183.419355
19,10.0,Detroit Tigers,1901,2024,19336,9676,9567,.503,109,7,...,14520,.264,88536,4.00,DET,123,721.642276,1416.504065,719.804878,118.048780
20,11.0,Houston Astros,1962,2024,9979,5009,4965,.502,44,13,...,8381,.255,41860,3.80,HOU,62,686.548387,1392.693548,675.161290,135.177419
23,12.0,Kansas City Royals,1969,2024,8833,4208,4623,.477,-415,8,...,6972,.263,40830,4.26,KC,55,703.145455,1443.290909,742.363636,126.763636
24,13.0,Los Angeles Angels,1961,2024,10139,5021,5115,.495,-94,9,...,9149,.256,44542,4.00,LAA,63,696.571429,1398.000000,707.015873,145.222222
26,14.0,Los Angeles Dodgers,1884,2024,21639,11432,10068,.532,1364,21,...,14055,.261,91466,3.53,LAD,140,697.492857,1375.978571,653.328571,100.392857
28,15.0,Miami Marlins,1993,2024,5012,2303,2709,.459,-406,0,...,4564,.255,23251,4.30,MIA,31,680.387097,1400.354839,750.032258,147.225806
31,16.0,Milwaukee Brewers,1969,2024,8842,4308,4530,.487,-222,6,...,8665,.256,40119,4.14,MIL,55,714.636364,1398.054545,729.436364,157.545455
34,17.0,Minnesota Twins,1901,2024,19323,9259,9955,.482,-696,13,...,11971,.262,88234,4.00,MIN,123,690.902439,1405.723577,717.349593,97.325203
38,18.0,New York Mets,1962,2024,9972,4816,5148,.483,-332,6,...,8526,.250,41955,3.80,NYM,62,663.322581,1359.887097,676.693548,137.516129
39,19.0,New York Yankees,1903,2024,19014,10778,8148,.569,2630,20,...,17241,.265,79312,3.66,NYY,121,763.314050,1421.966942,655.471074,142.487603
41,20.0,Oakland Athletics,1901,2024,19275,9329,9859,.486,-530,17,...,14081,.257,88110,4.00,OAK,123,691.861789,1367.268293,716.341463,114.479675
44,21.0,Philadelphia Phillies,1883,2024,21648,10207,11326,.474,-1119,12,...,14142,.260,101861,3.99,PHI,141,681.673759,1367.992908,722.418440,100.297872
46,22.0,Pittsburgh Pirates,1882,2024,21798,10839,10819,.500,20,9,...,12219,.263,97220,3.76,PIT,142,683.239437,1384.521127,684.647887,86.049296
48,23.0,San Diego Padres,1969,2024,8846,4127,4717,.467,-590,5,...,7218,.249,38717,3.96,SD,55,651.745455,1355.818182,703.945455,131.236364
49,24.0,San Francisco Giants,1883,2024,21723,11541,10019,.535,1522,9,...,15538,.263,93012,3.58,SF,141,712.439716,1383.446809,659.659574,110.198582
51,25.0,Seattle Mariners,1977,2024,7551,3599,3950,.477,-351,3,...,7665,.257,35177,4.29,SEA,47,713.148936,1408.851064,748.446809,163.085106
54,26.0,St. Louis Cardinals,1882,2024,21839,11285,10402,.520,883,15,...,13119,.266,96174,3.69,STL,142,705.035211,1400.528169,677.281690,92.387324
56,27.0,Tampa Bay Rays,1998,2024,4270,2091,2179,.490,-88,4,...,4452,.254,19460,4.22,TB,26,730.230769,1417.692308,748.461538,171.230769
58,28.0,Texas Rangers,1961,2024,10126,4818,5302,.476,-484,7,...,10147,.258,47692,4.29,TEX,63,723.968254,1416.301587,757.015873,161.063492
60,29.0,Toronto Blue Jays,1977,2024,7552,3761,3788,.498,-27,6,...,8216,.260,34553,4.22,TOR,47,743.382979,1432.212766,735.170213,174.808511
61,30.0,Washington Nationals,1969,2024,8838,4265,4569,.483,-304,5,...,7555,.254,38449,3.95,WSH,55,673.090909,1379.490909,699.072727,137.363636

#### Summary Paragraph

As mentioned in my previous milestone, I don't believe there are any ethical implications for these analyses in general. This analysis will simply consider how different factors impact a player/teams ability to be successful. With that said, the table from Baseball Reference was fairly easy to work with and didn't require much transformation. However, the most obvious change that was necessary was to remove the unneeded rows related to old teams or team aliases. As for the ethical steps taken, yes I believe the data was acquired ethically because Baseball Reference is an affiliate of Major League Baseball. I don't think there are any risks that can arise based on the transformations I have done - if anything my creation of the "per year" columns only ensures that each team is represented appropriately considering their time in the league compared to the teams that have existed longer.